*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
body{
    text-align: center;
}
p{
    padding: 10px;
    margin: 4px;
    background-color: #2b9b9b;
    color: #fff7f7;
    font-size: 18px;
}
p:nth-of-type(odd){
    display: none;
}